.menu{
   display:inline-block;
   background-color: coral;
  vertical-align: middle;
}
h2{
   color: brown;
}
.video{
  display: inline-block;
}
table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 80%;
 }
 
 td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }
 
 tr:nth-child(even) {
   background-color: #dddddd;

 }
 .imgtabla{
   width: 80%;
 }
