* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}
body{
font-family: 'Mina', sans-serif;
}
a{
    text-decoration: none;
}
.padre {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background:url(./img/headerground.jpeg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  background: rgba(0, 0, 0, .1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px; 
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  
}
.logo {
  flex: 1 1 auto;0
}
.logo a{
    color: #fff;  
}
.logo a:hover{
    color: #343434;
}
.logo img {
  width: 10rem;
}
.nav {
  flex: 5 1 auto;
  /* display: flex; */
}
.nav a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
.nav a:hover{
    color: #343434; 
}
.social {
  flex: 1 1 auto;
  display: flex;
}
.social a{
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
}
.social a:hover{
    color: #343434;
}
.texto-principal {
  background: #f07b3f;
}
h1 {
  background: #ffd460;
}
.section {
  background: #000;
  display: flex;
}
.articulos {
  background: #4e4e6a;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.article {
  background: #1f6cb0;
  flex: 1 1 40%;
}
.navegacion {
  background: #70a3c4;
  flex: 1 1 100%;
}
.aside {
  background: #f73f52;
  flex: 1 1 auto;
}
.publicidad {
  background: #ffea85;
}
.footer {
  background: #000;
  display: flex;
  justify-content: center;
}
.pie {
  background: #e6af2e;
  width: 300px;
}
@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
  }
}

@media all and (max-width: 600px) {
  .articulos {
    flex-direction: column;
  }
  .aside {
    flex-direction: column;
  }
}
