span {
  color: red;
}
.derecha {
  display: block;
  width: 30%;
}
.izquierda {
  display: block;
  width: 30%;
}

#caja {
  border: 1px solid black;
  width: 80%;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
}

.posicionamiento {
display: flex;
  align-items: flex-end;
}
