.link:hover { color: #ffffff; 
    background-color: red;
}
.link{
    color: red;
}

ul{
    list-style: none;
}
li{
    margin-bottom: 3rem;
}
.enlace1{
    text-decoration: underline 2px;
}
.enlace5{

 margin-right: 69rem;
  
}
.link5:hover{
    color: #ffffff; 
    background-color: red;
    text-decoration: none;
}
.link5{
    color: red;
}

