li{
    background-image: url(../img/Flecha.png) ;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 25px;
    list-style: none;
    border: 0.5px solid black;
    background-color: rgb(221, 221, 221);
    padding: 3px;
    padding-left: 30px;
    margin-right: 65rem;
}

a{
    text-decoration: none;
    color: rgb(73, 73, 73);
}