p{
    color: blue;
}
div{
    color: chocolate;
}
.titulo{
    color: crimson;
}
.descripcion{
    color: darkgray;
}
.links{
    color: darkorchid;
}
.enlace{
    color: darksalmon;
}

.explicacion{
    color: deeppink;
}

.perro{
size: 10px;
}
